#!/bin/bash

use_trunk.io() {
  if [[ -f .trunk/tools/trunk ]]; then
    trunk=.trunk/tools/trunk
  else
    tmp_file=$(mktemp)
    trap 'rm -f ${tmp_file}' EXIT
    curl -fsSL https://trunk.io/releases/trunk -o "${tmp_file}"
    chmod +x "${tmp_file}"
    trunk="${tmp_file}"
  fi

  "${trunk}" daemon start
}

use trunk.io
