# -----
# BUILD
# -----

maturin
# extra dependency for maturin (linux-only)
patchelf; platform_system == 'Linux'
pip

# -------
# TOOLING
# -------

pytest==8.3.3

# -------
# TEST DEPENDENCIES
# -------

botocore==1.35.69
botocore-stubs==1.35.69
zstandard==0.23.0
