name: Pull Request
run-name: Pull Request for ${{ github.ref_name }} by ${{ github.actor }}

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: write-all

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - trunk-merge/**

env:
  CARGO_TERM_COLOR: always

jobs:
  build_release:
    strategy:
      matrix:
        target: [x86_64-unknown-linux-musl, x86_64-unknown-linux-gnu]
    name: Build CLI for ${{ matrix.target }}
    # trunk-ignore(actionlint/runner-label)
    runs-on: [self-hosted, ubuntu-x64]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Build ${{ matrix.target }} target
        uses: ./.github/actions/build_target
        if: "!cancelled()"
        with:
          target: ${{ matrix.target }}

      - name: Install JUnit transformer
        run: cargo install cargo2junit

      - name: Run tests
        run: cargo test -q -- -Z unstable-options --format json --report-time | cargo2junit >  ${{ github.workspace }}/target/junit.xml

      - name: Upload results using action from ${{ matrix.target }}
        env:
          TRUNK_API_ADDRESS: https://api.trunk-staging.io/v1/metrics/createBundleUpload
        run: |
          target/${{ matrix.target }}/release/trunk-analytics-cli upload \
            --junit-paths ${{ github.workspace }}/target/**/*junit.xml \
            --org-url-slug trunk-staging-org \
            --token ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}

  build:
    name: Unit Tests
    runs-on: [self-hosted, ubuntu-x64]
    steps:
      - uses: actions/checkout@v3
      - name: Build

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

        run: cargo build -q --all

      - name: Install JUnit transformer
        run: cargo install cargo2junit
      - name: Run tests
        run: cargo test --verbose -- -Z unstable-options --format json --report-time | cargo2junit >  ${{ github.workspace }}/target/junit.xml
      - name: Upload results using action
        if: "!cancelled()"
        uses: trunk-io/analytics-uploader@main
        with:
          junit-paths: ${{ github.workspace }}/target/**/*junit.xml
          org-slug: trunk
          token: ${{ secrets.TRUNK_PROD_ORG_API_TOKEN }}
      - name: Upload results cli release built from source
        if: "!cancelled()"
        env:
          TRUNK_API_ADDRESS: https://api.trunk-staging.io/v1/metrics/createBundleUpload
        run: |
          cargo run --release -- upload \
            --junit-paths ${{ github.workspace }}/target/**/*junit.xml \
            --org-url-slug trunk-staging-org \
            --token ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
