name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version/tag to release
        required: true

jobs:
  release_cli:
    name: Trigger CLI Release
    uses: ./.github/workflows/release_cli.yml
    secrets: inherit
    with:
      release_tag: ${{ inputs.version }}

  release_ruby_gem:
    name: Trigger Ruby Gem Release
    needs: [release_cli]
    uses: ./.github/workflows/release_ruby_gem.yml
    secrets: inherit
    with:
      release_tag: ${{ inputs.version }}
